@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-family: "Inter", "Segoe UI", system-ui, -apple-system, sans-serif;
}

* {
  scrollbar-color: #334155 transparent;
}
